<%# app/views/collections/index.html.erb %>
<div class="py-8">
  <h1 class="text-3xl font-bold text-center text-gray-900 dark:text-gray-100 mb-8">All Collections</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @collections.each do |collection| %>
      <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
        <img src="<%= collection.image.present? ? collection.image : asset_path('default_collection_img.jpg') %>" alt="<%= collection.name %>" class="w-full h-40 object-cover rounded-md mb-4">
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mb-2">
            <%= link_to collection.name, collection_path(collection), class: "hover:underline" %>
          </h3>
          <%= render partial: 'collection_dropdown', locals: { collection: collection } %>
        </div>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-2"><%= collection.topic %></p>
        <p class="text-sm text-gray-500 dark:text-gray-300 mb-2">Items quantity: <%= collection.items_count %></p>
        <p class="text-xs text-gray-500 dark:text-gray-300">
          Created by 
          <% if current_user && (collection.user == current_user || current_user.admin?) %>
            <%= link_to collection.user.username, user_profile_path(collection.user), class: "text-blue-500 hover:underline" %>
          <% else %>
            <span class="text-blue-500"><%= collection.user.username %></span>
          <% end %>
        </p>
        <p class="text-xs text-gray-500 dark:text-gray-300"><%= collection.created_at.strftime("%d.%m.%Y at %H:%M:%S") %></p>
      </div>
    <% end %>
  </div>
</div>
