<!-- Inside your modal HTML -->
<div id="topics-modal" data-controller="modal" data-modal-target="modal" data-action="click->modal#close" tabindex="-1" aria-hidden="true" class="fixed top-0 right-0 left-0 z-10 flex justify-center items-center h-screen bg-gray-900 bg-opacity-50">
  <!-- Modal content -->
  <div class="relative p-4 w-full max-w-2xl" data-modal-target="modalContent">
    <!-- Modal body -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Create Topic
        </h3>
        <button type="button" data-action="click->modal#close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <%= form_with(model: @topic, url: topics_path, method: :post, class: "space-y-4", data: { turbo: 'false', controller: 'form' }) do |form| %>
          <div>
            <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :name, class: "mt-1 p-2 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Enter topic name" %>
          </div>
          <% if @topic.errors[:name].any? %>
            <div class="text-red-500 text-sm mt-2">
              <%= @topic.errors.full_messages_for(:name).join(', ') %>
            </div>
          <% end %>
          <div>
            <%= form.submit "Create Topic", 
        class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out", 
        data: { disable_with: 'Creating...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
