<!-- app/views/users/show.html.erb -->
<div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
  <!-- Profile Header -->
  <div class="flex items-center mb-6 border-b border-gray-300 dark:border-gray-700 pb-4">
    <!-- Avatar -->
    <div class="relative w-20 h-20 rounded-full overflow-hidden mr-4">
      <img class="w-full h-full object-cover" src="<%= @user.profile_image.present? ?  @user.profile_image : asset_path('default_avatar.png') %>" alt="">
      <span class="top-0 left-[13px] absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>
    <!-- User Info -->
    <div class="flex-grow">
      <p class="text-3xl font-bold text-gray-900 dark:text-gray-100"><%= @user.username %></p>
      <p class="text-sm text-gray-600 dark:text-gray-400 capitalize"><%= @user.role %></p>
    </div>
    <!-- Edit Profile Button -->
    <% if @user == current_user  %>
      <div>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "inline-block px-6 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
      </div>
    <% end %>
  </div>
  <!-- New Collection Button -->
  <% if current_user == @user || current_user.admin? %>
    <div class="mb-6 text-right">
      <%= link_to "New Collection", new_collection_path, class: "inline-block px-6 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
    </div>
  <% end %>
  <!-- Collections Section -->
  <div>
    <% if @collections.any? %>
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">My Collections</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4">
        <%= render partial: 'shared/collection', collections: @collections %>
      </div>
    <% else %>
      <div class="mt-4 text-center text-gray-600 dark:text-gray-400">
        <p>You have no collections.</p>
      </div>
    <% end %>
  </div>

  <!-- Display User Tickets in Profile -->
<div class="flowbite-container mt-8">
  <% if @tickets.any? %>
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">Support Tickets</h2>
    <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg mt-4">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead class="bg-gray-50 dark:bg-gray-700">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Summary</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Priority</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Collection</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Link</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
          <% @tickets.each do |ticket| %>
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm font-medium text-gray-900 dark:text-gray-100"><%= ticket.summary %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <span class="px-2 py-1 text-xs font-medium text-white rounded-full 
                               <%= ticket.priority == 'High' ? 'bg-red-500' : 
                                  ticket.priority == 'Medium' ? 'bg-yellow-500' : 
                                  ticket.priority == 'Low' ? 'bg-green-500' : 'bg-gray-500' %>">
                    <%= ticket.priority %>
                  </span>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <span class="px-2 py-1 text-xs font-medium text-white rounded-full 
                               <%= ticket.status == 'Open' ? 'bg-blue-500' : 
                                  ticket.status == 'In Progress' ? 'bg-yellow-500' : 
                                  ticket.status == 'Resolved' ? 'bg-green-500' : 'bg-gray-500' %>">
                    <%= ticket.status %>
                  </span>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= link_to 'View collection', ticket.link, class: "text-sm text-blue-600 dark:text-blue-400 hover:underline" %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= link_to 'View in Jira', ticket.jira_ticket_url, class: "text-sm text-blue-600 dark:text-blue-400 hover:underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @pagy && @pagy.pages > 1 %>
    <div class="pagination flex justify-center mt-6">
      <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
    </div>
  <% end %>
  <% else %>
    <div class="mt-4 text-center text-gray-600 dark:text-gray-400">
      <p>No support tickets found.</p>
    </div>
  <% end %>
</div>

</div>
