<div class="mb-4" data-controller="tags" data-tags-target="container" data-tags="<%= @item.tags.join(',') %>">
  <!-- Label for showing tags -->
  <label for="tags" class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-2">Show Tags:</label>
  <!-- Selected tags will appear here -->
  <div data-tags-target="tags" class="my-2">
    <!-- This section will display selected tags -->
    <%= hidden_field_tag 'tags', @item.tags.join(','), data: { target: 'tags.tagsInput' } %>
  </div>
  <!-- Input field for adding new tags -->
  <input data-tags-target="input" data-action="keypress->tags#addTag" type="text" class="form-input block w-full px-4 py-2 text-sm border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-500 dark:focus:ring-blue-600 dark:focus:border-blue-600" placeholder="Enter custom tag and press enter" />
  <!-- Dropdown menu for selecting recommended tags -->
  <div class="relative inline-block mt-2">
    <button id="dropdownTagButton" data-dropdown-toggle="dropdownTag" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Recommended Tags<svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg></button>
    <!-- Dropdown menu for recommended tags -->
    <div id="dropdownTag" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 overflow-y-auto" style="max-height: 12rem;">
      <ul class="px-3 pb-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownTagButton">
        <% Tag.all.each do |tag| %>
          <li>
            <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
              <%= check_box_tag "", tag.name, @item.tags.include?(tag.name), data: { action: 'change->tags#toggleTag', tag_name: tag.name, selected: @item.tags.include?(tag.name) }, id: "checkbox-item-#{tag.id}", class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500' %>
              <label for="checkbox-item-<%= tag.id %>" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"><%= tag.name %></label>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- Container for hidden inputs representing selected tags -->
  <div class="tag-inputs">
    <!-- Hidden inputs for tags[] will be appended here -->
  </div>
</div>
