<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>CollectionManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900"   data-controller="sign-up" data-sign-up-url="<%= flash[:sign_up_url] %>">
    <%= render 'layouts/spinner' %>
    <!-- Navbar -->
    <%= render 'layouts/navbar' %>
    <!-- Main Content -->
    <main class="mx-auto p-4">
      <%= render 'shared/toast' %>
      <div class="mt-4">
        <%= yield %>
      </div>
    </main>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
    
  </body>
</html>
