<!DOCTYPE html>
<html>
  <head>
    <title>CollectionManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100 dark:bgs-gray-900">
    <!-- Navbar -->
    <%= render 'layouts/navbar' %>
    <!-- Main Content -->
    <main class="container mx-auto p-4">
      <div class="mt-4">
        <p class="notice text-green-500"><%= notice %></p>
        <p class="alert text-red-500"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
  </script>
</html>
